<a href="https://colab.research.google.com/github/786aafreen/Feb/blob/main/z_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
from scipy import stats

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/players.csv')

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.info()

#### Hypothesis Testing

One Sample Significance Test for Mean is extremely similar to that for Proportion. We will go through almost an identical process.

The hypotheses are defined as follows:
* **Null Hypothesis**: The average height of an NBA player is 200.66 cm.
* **Alternate Hypothesis**: The average height of an NBA player is not 200.66 cm.

Significance Level, $\alpha$ is at 0.05. Assuming Null Hypothesis to be true.

In [ ]:
h0_mean = 200.66 #google Search

In [ ]:
h1_mean = df['Height'].mean()
h1_mean

sigma=x-u/n61/2
z=(x-mu)/sig/sqrt(n)
 #z=(x-mu)/sigma

In [ ]:
sigma = df['Height'].std()/np.sqrt(len(df))
sigma

In [ ]:
z = (h1_mean-h0_mean)/sigma
z

*#p_val = (1 - stats.norm.cdf(abs(z))) #ONE TAIL  I.E LOWER TAIL PART*

In [ ]:
p_val = (1-stats.norm.cdf(abs(z)))*2    #TWO TAIL 
p_val

The p value obtained is much lesser than the significance level $\alpha$. We therefore reject the null hypothesis and accept the alternate hypothesis (the negation). We can therefore arrive at the following conclusion from this analysis:

**The average height of NBA Players is NOT 6'7"**.

Analyzing DEPRESSION in India by Gender
Are men as likely to commit suicide as women?

This is the question we will attempt at answering in this section. To answer this question, we will use suicide statistics shared by the National Crime Records Bureau (NCRB), Govt of India. To perform this analysis, we need to know the sex ratio in India. The Census 2011 report states that there are 940 females for every 1000 males in India.

Let p denote the fraction of women in India.

# H0:MEN AND WOMEN  ARE EQUALLY LIKELY TO DEPRESS    (NULL)
# H1:MEN AND WOMEN  ARE  NOT EQUALLY LIKELY TO DEPRESS  (ALTERNATE)

In [ ]:
p = 940/1940
p